<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    
    <title>{% block title %}Мой сайте{% endblock %}</title>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>