{% extends  'base.html' %}

{% block title %}{{article.article_title}}{% endblock %}

{% block content %}

{% if article.was_published_recently %}
    Новая Статья
{% endif %}

    <h2>{{article.article_title}}</h2>

    <p>{{article.article_text}}</p>

    <em>{{article.pub_date}}</em>

    <hr>

    {% if latest_comment_list %}
        {% for c in latest_comment_list %}
            <p>
                <strong>{{c.autor_name}}</strong>
                <p>{{c.comment_text}}</p>
            </p>
        {% endfor %}
        {% else %}
    Коментарии не найдены
    {% endif %}

    <hr>
    <form action="{% url 'leave_comment' article.id %}" method="POST">

        {% csrf_token %}

        <input type="text" required placeholder="Ваше имя" name="name"><br>
        <textarea name="text" required placeholder="Текст коментария" cols="30" rows="10"></textarea><br>
        <button type="submit">Оставить коментарий</button>
    </form>

{% endblock %}