{% extends  'base.html' %}

{% block title %} Последние статьи {% endblock %}

{% block content %}

    {% if latest_articles_list %}
        {% for a in latest_articles_list %}
            <a href="{% url 'detail' a.id %}">{{a.article_title}}</a><br>
        {% endfor %}
    {% else %}
        Статьи не найдены )=
    {% endif %}

    <form action="{% url 'leave_article' %}" method="POST">

        {% csrf_token %}

        <input type="text" required placeholder="Название Статьи" name="name"><br>
        <textarea name="text" required placeholder="Описание" cols="30" rows="10"></textarea><br>
        <button type="submit">Добавить статью</button>
    </form>

{% endblock %}